extends ../layout

block style
  style.
    img.profile {
      width: 100%;
    }
    .result-item {
      display: block;
      }

block content
  .col-md-6.col-lg-6.col-md-offset-3.col-lg-offset-3
    h1 내 정보 수정
    form(action="/shop/mypage", method="POST", enctype="multipart/form-data")
      .form-group
        label(for="accountid") 계정 이름
        input(type="text", name="accountid", value=shop.accountid, disabled)#accountid.form-control
      .form-group
        label(for="password") 비밀번호
        input(type="password", name="password")#password.form-control
      .form-group
        label(for="phonenum") 전화번호
        input(type="text", name="phonenum", value=shop.phonenum)#phonenum.form-control
      .form-group
        label(for="address") 주소
        .row
          .col-md-9
            input(type="text", name="address", value=shop.location.address)#address.form-control
          .col-md-3
            button.btn.btn-primary.btn-sm(type="button", data-toggle="modal", data-target="#search-address") 주소 검색
        br
        .row
          .col-md-4
            label(for="shopname") 상호명
            input(type="text", name="shopname", value=shop.shopname)#shopname.form-control
          .col-md-4
            label(for="lat") 위도
            input(type="number", name="lat", step="any", value=shop.location.lat)#lat.form-control
          .col-md-4
            label(for="lon") 경도
            input(type="number", name="lon", step="any", value=shop.location.lon)#lon.form-control
      .form-group
        label(for="category") 카테고리
        select.form-control(name="category")#category
          option(value="카페") 카페
          option(value="한식") 한식
          option(value="중식") 중식
          option(value="양식") 양식
          option(value="야식") 야식
          option(value="분식") 분식
          option(value="잡화점") 잡화점
          option(value="옷가게") 옷가게
          option(value="전자제품") 가전제품
          option(value="악세사리") 악세사리
          option(value="마트") 마트
          option(value="베이커리") 베이커리
          option(value="술집") 술집
      .form-group
        label(for="photo") 사진
        img(src="/uploads/" + shop.photo, alt="no photo", class="profile")
        input(type="file", name="photo")#photo

      input(type="submit", value="저장").btn.btn-default

  .modal.fade#search-address(tabindex="-1", role="dialog",
    aria-labelledby="search-modal-label")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(type="button", data-dismiss="modal", aria-label="Close").close
            span(aria-hidden="true")
          h4.modal-title#search-modal-label 주소 선택
        .modal-body
          .row
            .col-md-10
              input(type="text")#search-query.form-control
            .col-md-2
              a.btn.btn-default#search-button 검색
          #search-result


block script
  script(src="/javascripts/addressSearch.js")
